# Jekyll build folder
_site/

# Gemfile.lock was preventing OpenShift from running using its own versions of
# certain gems like `rb-fswatch`, etc.
Gemfile.lock

# SASS cache folder
.sass-cache/

# Front-end tooling
node_modules/

# Workfiles
NOTES
workfiles/
sync-local-dev.bash
