---
layout: default
title: Search
---

{% include searchbar_large.html %}

<div id="result"></div>

{% assign hiddenpages = "in-practice-examples-index,guides-github-ocio-guide,guides-index,in-practice-examples-paybc,guides-segmentation-what-is-segmentation" | split: "," %}

<script>
  window.store = {
    {% for collection in site.collections %}
      {% assign name = collection.label %}
      {% for page in site[name] %}

        {% assign slugifiedurl = page.url | slugify %}

        {% if hiddenpages contains slugifiedurl %}
          {% continue %}
        {% endif %}

        "{{ slugifiedurl }}": {
          "title": "{{ page.title | xml_escape }}",
          "content": {{ page.content | strip_html | strip_newlines | lstrip | jsonify }},
          "description": "{{ page.description | xml_escape }}",
          "url": "{{ page.url | xml_escape }}"
        },

      {% endfor %}
    {% endfor %}
  };
  window.siteurl = "{{ site.url }}";
</script>

<script src="{{ site.baseurl }}/static/js/lunr.min.js"></script>
<script src="{{ site.baseurl }}/static/js/search.js"></script>
