<!-- FOOTER -->
<div id="footer" role="contentinfo">
  <img class="back-to-top" src="{{ site.baseurl }}/static/img/back-to-top.png" alt="Back to top" title="Back to top" style="display: inline"
  />
  <div id="footerWrapper">
    <div id="footerAdminSection">
      <div id="footerAdminLinksContainer" class="container">
        <div id="footerAdminLinks" class="row">
          <ul class="inline">
            <li>
              <a href="{{ site.baseurl }}/">Home</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/faq">About this site</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/site-map">Site Map</a>
            </li>
            <li>
              <a href="http://gov.bc.ca/disclaimer/">Disclaimer</a>
            </li>
            <li>
              <a href="http://gov.bc.ca/privacy/">Privacy</a>
            </li>
            <li>
              <a href="http://gov.bc.ca/webaccessibility/">Accessibility</a>
            </li>
            <li>
              <a href="http://gov.bc.ca/copyright">Copyright</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/contact-us">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% if site.show-survey-offer %}
  <div id="highlightKeywordFloatingBar" class="form-horizontal col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="closeHighlightKeywordFloatingBar btn btn-sm">
      <i class="glyphicon glyphicon-remove closeHighlightBarIcon"></i>
    </div>

    <div class="highlightFeedbackForm feedbackForm alignCenter">

      <div class="highlightTextMessage">
        <span id="highlightFeedbackMsg">Please help us improve this content taking our short survey.</span>
      </div>

      <div id="highlightFeedbackButtons">
        <a target="_blank" href="{{ site.survey-link | rstrip | lstrip }}" class="form-control btn btn-primary btn-feedback btn-yes">Yes</a>
        <a href="#" class="form-control btn btn-primary btn-feedback btn-no">No</a>
      </div>

      <div style="margin-top: 0.5rem;" id="highlightReturnToSearchResults" class="alignCenter">
        <a style="text-decoration: underline;" class="returnToSearchResults" href="mailto:{{ site.feedback-email }}">Contact us</a>
        <span class="highlightFeedbackForm highlightFeedbackDoNotShowDidYouFind">
          <input class="doNotShowDidYouFind" type="checkbox" value="" style="margin-right: 5px; margin-left: 10px;">Don't show this again
        </span>
      </div>

    </div>

  </div>
{% endif %}
<!-- /#footer -->
