<!-- FOOTER -->
<div id="footer" role="contentinfo">
  <img class="back-to-top" src="{{ site.baseurl }}/static/img/back-to-top.png" alt="Back to top" title="Back to top" style="display: inline;" />
  <div id="footerWrapper">
    <div id="footerAdminSection">
      <div id="footerAdminLinksContainer" class="container">
        <div id="footerAdminLinks" class="row">
          <ul class="inline">
            <li>
              <a href="#">Home</a>
            </li>
            <!--<li>
              <a href="#">About this site</a>
            </li>-->
            <li>
              <a href="http://gov.bc.ca/disclaimer/">Disclaimer</a>
            </li>
            <li>
              <a href="http://gov.bc.ca/privacy/">Privacy</a>
            </li>
            <li>
              <a href="http://gov.bc.ca/webaccessibility/">Accessibility</a>
            </li>
            <li>
              <a href="http://gov.bc.ca/copyright">Copyright</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#footer -->
