<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="HandheldFriendly" content="true" />

  <meta name="description" content="{{ site.description }}" />
  <meta name="keywords" content="bc, government, innovators, toolkit, ocio, Province of British Columbia, digital" />

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/static/img/favicon.ico" />

  <title>
    {% if page.title %}
      {{ page.title }} - Innovators Toolkit | Province of British Columbia
    {{ else }}
      {{ site.title }}
    {% endif %}
  </title>

  <link type="text/css" href="{{ site.baseurl }}/dist/bundle.css" rel="stylesheet" />

</head>
