<p>This open source project is a collaboration of diverse innovators from across government and the private sector, facilitated within and by the Continuous Service Improvement (CSI) Lab in Victoria.</p>

<h3>Contacts:</h3>

<ul>
  <li><a href="https://www.linkedin.com/company/bc-gov-csi-lab/">CSI Lab</a></li>
  <li><a href="https://www2.gov.bc.ca/gov/content/governments/services-for-government/service-experience-digital-delivery/service-design">Service Design</a></li>
  <li><a href="mailto:Asb.cio@gov.bc.ca">OCIO Architecture &amp; Standards</a></li>
  <li><a href="https://bcdevexchange.org/">BCDevExchange</a></li>
  <li><a href="https://data.gov.bc.ca/">DataBC</a></li>
  <li><a href="https://gww.gov.bc.ca/leanbc">LeanBC</a></li>
</ul>
