<div data-order="0">
  <h2 class="blue-heading-bar">Contributions</h2>
  <div class="promoBox rightColumnBox">
    <p>This content is open by default - anyone can contribute, to help build government's "digital" capability. Have a suggestion,
      question, or innovation? Contact any of the partners listed on the
      <a href="{{ site.baseurl }}/contact-us">contact page</a>, or click <a href="{{ site.contribute-link }}">contribute</a>.
    </p>
  </div>
</div>

<div data-order="0">
  <h2 class="blue-heading-bar">Partners</h2>
  <div class="promoBox rightColumnBox">
    <p>This open source project was originally a collaboration of diverse innovators from across government and the private
      sector, facilitated within and by the Continuous Service Improvement (CSI) Lab in Victoria.</p>
    <h3>Contacts:</h3>
    <ul>
      <li>
        <a href="#">OCIO CSILab</a>
      </li>
      <li>
        <a href="#">ServiceDesign</a>
      </li>
      <li>
        <a href="#">BCDevExchange</a>
      </li>
      <li>
        <a href="#">DataBC</a>
      </li>
      <li>
        <a href="#">BehaviouralInsights</a>
      </li>
      <li>
        <a href="#">LeanBC</a>
      </li>
      <li>
        <a href="#">Analytics</a>
      </li>
    </ul>
  </div>
</div>
