<div data-order="0">
  <h2 class="blue-heading-bar">Contributions</h2>
  <div class="promoBox rightColumnBox">
    <p>This content is open by default - anyone can contribute, to help build government's "digital" capability. Have a suggestion,
      question, or innovation? Contact any of the partners listed below or click <a href="{{ site.contribute-link }}">contribute</a>.
    </p>
  </div>
</div>

<div data-order="0">

  {% assign guide_types_str = '' %}
  {% for g in site.guides %}
    {% assign guide_types_str = guide_types_str | append: g.guide %}
    {% unless forloop.last %}
      {% assign guide_types_str = guide_types_str | append: "zzz" %}
    {% endunless %}
  {% endfor %}

  {% assign guide_types = guide_types_str | replace: "zzzzzz", "zzz" | split: "zzz" | uniq %}

  {% for guide_name in guide_types %}

    {% if forloop.first %}
      <h2 class="blue-heading-bar">Innovation Guides</h2><div class="promoBox rightColumnBox"><ul>
    {% endif %}

    {% assign currentguide = site.guides | where: "title", guide_name %}

    <li><a href="{{ currentguide[0].url }}">{{ guide_name }}</a></li>

    {% if forloop.last %}
      </ul></div>
    {% endif %}

  {% endfor %}

</div>
