<div data-order="0">
  <h2 class="blue-heading-bar">Contributions</h2>
  <div class="promoBox rightColumnBox">
    <p>This content is open by default - anyone can contribute, to help build government's "digital" capability. Have a suggestion,
      question, or innovation? Contact any of the partners listed via the link in the bar above or click <a href="{{ site.contribute-link }}">contribute</a>.
    </p>
  </div>
</div>

<div data-order="0">

  {% assign guide_types_str = '' %}
  {% for g in site.guides %}
    {% assign guide_types_str = guide_types_str | append: g.guide %}
    {% unless forloop.last %}
      {% assign guide_types_str = guide_types_str | append: "zzz" %}
    {% endunless %}
  {% endfor %}

  {% assign guide_types = guide_types_str | replace: "zzzzzz", "zzz" | split: "zzz" | uniq %}

  {% for guide_name in guide_types %}

    {% if forloop.first %}
      <h2 class="blue-heading-bar">Innovation Guides</h2><div class="promoBox rightColumnBox"><ul>
    {% endif %}

    {% assign currentguide = site.guides | where: "title", guide_name %}

    <li><a href="{{ currentguide[0].url }}">{{ guide_name }}</a></li>

    {% if forloop.last %}
      </ul></div>
    {% endif %}

  {% endfor %}

</div>

<div data-order="0">
  <h2 class="blue-heading-bar">Privacy</h2>
  <div class="promoBox rightColumnBox">
    <p>We would love your feedback! Feedback is collected under sections 26(c) and 26(e) of the Freedom of Information and Protection of Privacy Act for the purpose of improving the Digital Toolkit. Please do not include any personal information about yourself or others when submitting your feedback.</p>
    <p>Contact the Executive Director of the OCIO Architecture, Standards and Planning Branch, CITZ, 250 356-7915, 4000 Seymour Place, Victoria, BC if you have any questions about the collection of your information. Thanks!
    </p>
  </div>
</div>
