/**
 * Custom edits to the theme found here: https://github.com/bcgov/Gov-2.0-Bootstrap-Skeleton
 */

// HEADER
#header #logo img {
  @media (max-width: 767px) {
    width: auto;
    height: auto;
  }
}
.navbar-toggle.topic-menu-trigger {
  @media screen and (max-width: 768px) {
    margin-top: 1rem;
  }
}
.contentPageLeftNavigation,
#topicLeftNav {
  @media (max-width: 768px) {
    position: static;
  }
}
.navigationRibbon a {
  @media (min-width: 768px) {
    display: inline-block;
  }
}
#beta-badge {
  height: auto;
  position: relative;
  top: -1px;
  @media screen and (min-width: 1200px) {
    min-width: 127px;
    margin-left: 1rem;
  }
}
.banner-wrapper {
  margin-bottom: 2rem;

  img {
    width: 100%;
  }
}

// SEARCH
#main-search {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
}
.search-trigger {
  margin-top: -5.75rem;
  cursor: pointer;
  height: 30px;
  position: relative;
  right: 6px;
  float: right;
  width: 30px;
  background-image: url("../bc-gov-theme-images/search-ico.png");
  background-position: 98% center;
  background-repeat: no-repeat;
}
#result .urlStr span {
  color: #008000;
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
}
.result_item h4.result_item_title {
  color: #1a5a96;
  margin-top: 0px !important;
  margin-bottom: 0em !important;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 23px;
}
#result .description {
  line-height: 18px;
  word-wrap: break-word;
}
#result .snippet,
#result .description {
  line-height: 18px;
  word-wrap: break-word;
}
#result .snippet {
  padding-bottom: 7px;
}
a.result_wrapper {
  text-decoration: none !important;
}
a.result_wrapper h4:hover {
  color: #0000ff;
}
#searchBody {
  margin-bottom: 2rem;
}

// BREADCRUMBS
.breadcrumb > li:last-of-type::after,
.breadcrumb > li + li:last-of-type::after {
  content: " ";
}
#breadcrumbContainer {
  padding-right: 15px;
  padding-left: 15px;

  &.guide-landing {
    @media (max-width: 767px) {
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) and (min-width: 767px) {
    margin-top: 2rem;
  }
}
@-moz-document url-prefix() {
  #breadcrumbContainer {
    margin-top: initial;
    margin-bottom: initial;
  }
}

// BUTTONS
a.btn {
  text-decoration: none;
  border-radius: 4px;
}

// HOMEPAGE
.homepage-tile .title a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.homepage-tile .tile-text .title {
  padding: 5px 0 3px 0 !important;
  margin: 0 !important;
}
.homepage-tile .down-arrow-top,
.homepage-tile .down-arrow-bottom {
  position: absolute;
  left: 36px;
  background: url(https://www2.gov.bc.ca/StaticWebResources/static/gov3/images/down-arrow.png)
    no-repeat scroll 0 0 transparent;
  height: 7px;
  width: 12px;
}
.homepage-tile .down-arrow-top {
  top: 0;
}
.homepage-tile .down-arrow-bottom {
  bottom: 0;
}
@media (max-width: 767px) {
  .homepage-tile .tile-text {
    padding: 5px 0;
  }
}

// MAIN CONTENT
#introduction p:first-of-type {
  margin-top: 0;
}
#main-content {
  @media screen and (max-width: 768px) {
    margin-top: 1rem;
  }
}
.contentPageMainColumn ul>li, // main content
.contentPageRightColumn ul>li {
  // right sidebar
  padding-left: 15px;
  background: url("../bc-gov-theme-images/bullet.png") no-repeat scroll 0 8px
    transparent;
  margin-bottom: 3px;
}
#main-content > h1:first-of-type,
#main-content > h2:first-of-type,
#main-content > h3:first-of-type {
  margin-top: 0;
}
.last-edit {
  margin-top: 2rem;
}
#topicTemplate hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// SIDEBAR LOVE
.contentPageLeftNavigation ul.leftNav li a {
  @media (max-width: 767px) {
    padding: 1rem;
  }
}
.contentPageLeftNavigation ul.leftNav li li a {
  @media (max-width: 767px) {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
li.open.current > .leftNav-item-wrapper {
  font-size: 112.5%;
}

// NEXT PREVIOUS "STEP" LINKS
.next-prev.step {
  text-align: right;
}

// CUSTOM "GUIDE" STYLING AND GUIDE LANDING PAGE
.guide.page .leftNav li ul li:before {
  content: "";
}

.table-responsive.guides {
  .title {
    margin-top: 0 !important; // only set this if we are displaying one "table cell" per row
  }
}

.guide-landing-image {
  width: 110px;
  display: inline-block;

  img {
    width: 90px;
  }
}

.guide-landing-details {
  width: 80%;
  display: inline-block;
}

// 404 page
#searchBody {
  margin-bottom: 1.25rem;
}
#searchBody,
.search_keywordBox {
  padding-left: 0;
  padding-right: 0;
}

// SURVEY BOX
div.alignCenter {
  text-align: center;
}
.feedbackForm {
  padding-top: 5px;
}
#highlightKeywordFloatingBar {
  display: none; // changes with JS
  font-size: 15px;
  position: fixed;
  bottom: 0px;
  border: solid 1px #fcba19;
  padding: 4px 12px 12px 12px;
  background: white;
  z-index: 1200;
  -webkit-box-shadow: 1px -3px 3px 0px rgba(51, 51, 51, 0.15);
  -moz-box-shadow: 1px -3px 3px 0px rgba(51, 51, 51, 0.15);
  box-shadow: 1px -3px 3px 0px rgba(51, 51, 51, 0.15);
}
#highlightKeywordFloatingBar .closeHighlightKeywordFloatingBar {
  position: absolute;
  top: 0px;
  right: -3px;
  color: #1a5a96;
  font-size: larger;
  z-index: 1201;
}
.highlightTextMessage {
  font-weight: bold;
  margin: 0px 15px 0px 15px;
  padding-bottom: 3px;
}
#highlightKeywordFloatingBar .btn-primary {
  background-color: #39598c;
  border: 0 none;
  border-radius: 0;
  margin: 0 5px;
  width: 120px;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
}

// EXPERIMENTAL ////////////////////////////////////////////////////////////////

.contentPageLeftNavigation .leftNav ul li {
  padding-left: 0;
}
