/**
 * Custom edits to the theme found here: https://github.com/bcgov/Gov-2.0-Bootstrap-Skeleton
 */

// HEADER
#header #logo img {
  @media (max-width: 767px) {
    width: auto;
    height: auto;
  }
}
.navbar-toggle.topic-menu-trigger {
  @media screen and (max-width: 768px) {
    margin-top: 1rem;
  }
}
.contentPageLeftNavigation,
#topicLeftNav {
  @media (max-width: 768px) {
    position: static;
  }
}
.navigationRibbon a {
  @media (min-width: 768px) {
    display: inline-block;
  }
}

// SEARCH
#main-search {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
}
.search-trigger {
  margin-top: -5.75rem;
  cursor: pointer;
  height: 30px;
  position: relative;
  right: 6px;
  float: right;
  width: 30px;
  background-image: url("../images/search-ico.png");
  background-position: 98% center;
  background-repeat: no-repeat;
}
#result .urlStr span {
  color: #008000;
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
}
.result_item h4.result_item_title {
  color: #1a5a96;
  margin-top: 0px !important;
  margin-bottom: 0em !important;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 23px;
}
#result .description {
  line-height: 18px;
  word-wrap: break-word;
}
#result .snippet,
#result .description {
  line-height: 18px;
  word-wrap: break-word;
}
#result .snippet {
  padding-bottom: 7px;
}
a.result_wrapper {
  text-decoration: none !important;
}
a.result_wrapper h4:hover {
  color: #0000ff;
}
#searchBody {
  margin-bottom: 2rem;
}

// BREADCRUMBS
.breadcrumb > li:last-of-type::after,
.breadcrumb > li + li:last-of-type::after {
  content: " ";
}
#breadcrumbContainer {
  padding-right: 15px;
  padding-left: 15px;

  &.guide-landing {
    @media (max-width: 767px) {
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) and (min-width: 767px) {
    margin-top: 2rem;
  }
}
@-moz-document url-prefix() {
  #breadcrumbContainer {
    margin-top: initial;
    margin-bottom: initial;
  }
}

// BUTTONS
a.btn {
  text-decoration: none;
  border-radius: 4px;
}

// MAIN CONTENT
#main-content {
  @media screen and (max-width: 768px) {
    margin-top: 1rem;
  }
}
.contentPageMainColumn ul>li, // main content
.contentPageRightColumn ul>li {
  // right sidebar
  padding-left: 15px;
  background: url("../images/bullet.png") no-repeat scroll 0 8px transparent;
  margin-bottom: 3px;
}
#main-content > h1:first-of-type,
#main-content > h2:first-of-type,
#main-content > h3:first-of-type {
  margin-top: 0;
}
.last-edit {
  margin-top: 2rem;
}
#topicTemplate hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// SIDEBAR LOVE
.contentPageLeftNavigation ul.leftNav li a {
  @media (max-width: 767px) {
    padding: 1rem;
  }
}
.contentPageLeftNavigation ul.leftNav li li a {
  @media (max-width: 767px) {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
li.open.current > .leftNav-item-wrapper {
  font-size: 112.5%;
}

// NEXT PREVIOUS "STEP" LINKS
.next-prev.step {
  text-align: right;
}

// CUSTOM "GUIDE" STYLING
.guide.page .leftNav li ul li:before {
  content: "";
}

// 404 page
#searchBody {
  margin-bottom: 1.25rem;
}
#searchBody,
.search_keywordBox {
  padding-left: 0;
  padding-right: 0;
}

// EXPERIMENTAL ////////////////////////////////////////////////////////////////

// .navigationRibbon .level2Navigation {
//   @media screen and (min-width: 768px) {
//     max-height: 40px;
//     overflow-y: hidden;
//   }
// }

.contentPageLeftNavigation .leftNav ul li {
  padding-left: 0;
}

// // numbering for the steps sidebar
// .numbered.list-group,
// .leftNav {
// 	counter-reset: my-badass-counter;
// }
// .numbered.list-group h3:before { // This is also on the homepage, used for the "steps"
// 	content: counter(my-badass-counter);
//   counter-increment: my-badass-counter;
//   width: 4.0rem;
//   height: 4rem;
//   padding-top: 0.75rem;
//   font-size: 2rem;
//   font-weight: bold;
//   text-align: center;
//   color: #1a5a96;
//   border: 0.3rem solid #1a5a96;
//   display: inline-block;
//   margin-right: 0.5rem;
// }
// .step.page .leftNav li ul li:before {
//   @media screen and (min-width: 768px) {
//     content: counter(my-badass-counter);
//     counter-increment: my-badass-counter;
//     float: left;
//     padding-right: 0.25rem;
//     position: relative;
//     top: 1px;
//   }
// }
