<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {% include header.html %}

  <div id="topicTemplate" class="template container gov-container">

    {% if page.url == "/guides/index/" %}
      <!-- BREADCRUMBS -->
      <div class="row" id="breadcrumbContainer">
        <ol class="breadcrumb">
          <li>
            <a href="{{ site.baseurl }}/">Home</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/guides/index/">Innovation Guides</a>
          </li>
        </ol>
      </div>
      <!-- /#breadcrumbs -->
    {% endif %}

    <!-- PAGE CONTENT - This is the main Bootstrap ".row" on the page :) -->
    <div class="row">

      <!-- Left sidebar here in other templates. -->

      <div id="main-content" role="main" class="contentPageMainColumn col-md-8 col-lg-9">
        <a id="main-content-anchor"></a>

        {% if page.title %}
          <h2>{{ page.title }}</h2>
        {% endif %}

        {{ content }}
      </div>
      <!-- /#main-content -->

      <div id="rightcolumn" role="complementary" class="contentPageRightColumn col-sm-12 col-md-4 col-lg-3">
        {% include sidebar_right.html %}
      </div>
      <!-- /#rightcolumn -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /#topicTemplate -->

  {% include footer.html %}

  {% include scripts.html %}

</body>

</html>
