---
title: This be a guide landing page
layout: default
---

<!-- Citizens @ the Centre -->
{% assign citizens_guides = site.guides | where: "guide", "Citizens @ the Centre" %}

{% for page in citizens_guides %}
  {% if page.slug == "introduction" %}
    <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
  {% endif %}
{% endfor %}

<ul>
{% for page in citizens_guides %}
  {% if page.slug != "introduction" %}
    <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>

<!-- Agile Scrum -->
{% assign agile_guides = site.guides | where: "guide", "Agile Scrum" %}

{% for page in agile_guides %}
  {% if page.slug == "introduction" %}
    <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
  {% endif %}
{% endfor %}

<ul>
{% for page in agile_guides %}
  {% if page.slug != "introduction" %}
    <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>

<!-- Github -->
{% assign github_guides = site.guides | where: "guide", "BC Policy Framework for GitHub" %}

{% for page in github_guides %}
  {% if page.url contains "github/introduction" %}
    <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
  {% endif %}
{% endfor %}

<ul>
  {% for page in github_guides %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
