---
layout: default
---

{{ content }}

{% assign guide_types_str = '' %}
{% for g in site.guides %}
  {% assign guide_types_str = guide_types_str | append: g.guide %}
  {% unless forloop.last %}
    {% assign guide_types_str = guide_types_str | append: "zzz" %}
  {% endunless %}
{% endfor %}

{% assign guide_types = guide_types_str | replace: "zzzzzz", "zzz" | split: "zzz" | uniq %}

{% for guide_name in guide_types %}

  {% if forloop.first %}
    <div class="table-responsive guides"><div class="table tiles-container tiles-container-2col level2"><!-- Open .table-responsive and .table.tiles.container -->
  {% endif %}

  <div class="tiles-row"><!-- Open a .tiles-row -->

    {% assign currentguide = site.guides | where: "title", guide_name %}

    <div class="tile col-sm-12"><!-- Open a .tile -->
      <h3 class="title">
        <a href="{{ currentguide[0].url }}">{{ guide_name }}</a>
      </h3>
      {% if currentguide[0].logo %}
        <div class="guide-landing-image">
          <a href="{{ currentguide[0].url }}"><img alt="{{ currentguide[0].title }} logo" aria-hidden="true" src="{{ site.baseurl }}/static/logos/{{ currentguide[0].logo }}" /></a>
        </div>
      {% endif %}
      <div class="guide-landing-details">
        <p class="bc_paragraph">
          {{ currentguide[0].excerpt | strip_html | rstrip | lstrip }}.
        </p>
        <div tabindex="0" class="explore excludeKeywordHighlight">
          <div class="explore-within">
            Explore Within
            <span class="caret"></span>
          </div>
          <ul style="display: none;">

            {% assign sub_guides = site.guides | where: "guide", currentguide[0].title %}

            {% for sub_guide in sub_guides %}
              <li class="group" style="background: transparent;">
                <a href="{{sub_guide.url}}" title="{{ sub_guide.title }}">{{ sub_guide.title }}</a>
              </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div><!--Close a .tile -->

  </div><!-- Close a .tiles-row -->

  {% if forloop.last %}
    </div></div><!-- Close .table-responsive and .table.tiles-container -->
  {% endif %}

{% endfor %}
