---
layout: default
---

<h1>Digital Innovators Toolkit</h1>

<div id="introduction">
  <p class="lead">
    {{ content }}
  </p>
</div>

<h2 id="get-started">Get Started: Review the Steps</h2>

<div class="list-group numbered">

  {% for step in site.steps %}

    <div class="list-group-item">
      <h3 class="list-group-item-heading">
        <a href="{{ step.url }}">{{ step.title }}</a>
      </h3>
      <p class="list-group-item-text">{{ step.excerpt | strip_html | rstrip }}.</p>
    </div>

  {% endfor %}

</div>
<!-- /.list-group.numbered -->
