<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body class="step page">

  {% include header.html %}

  <div id="topicTemplate" class="template container gov-container">

    <!-- PAGE CONTENT - This is the main Bootstrap ".row" on the page :) -->
    <div class="row">

      <!-- LEFT SIDEBAR (custom) -->
      <div class="contentPageLeftNavigation col-sm-4 col-md-3">
        <div id="topicLeftNav" class="navbar" role="navigation" aria-label="secondary">

          <div class="navbar-header">
            <button class="navbar-toggle topic-menu-trigger " aria-expanded="true" type="button" data-toggle="collapse" data-target="#topicLeftNav .navbar-collapse">{{ site.nav-trigger-text }}</button>
          </div>

          <div class="row navbar-collapse collapse">
            <div><!-- removed class col-xs-12 -->

              <ul class="leftNav nav navbar-nav">

                <li class="open current">
                  <div class="leftNav-item-wrapper">
                    <a style="cursor: default;" href="#">Steps</a>
                  </div>
                  <ul>

                    {% for step in site.steps %}
                      {% if page.url == step.url %}
                        <li class="current">
                      {% else %}
                        <li>
                      {% endif %}
                        <div class="leftNav-item-wrapper">
                          <a href="{{ step.url }}">{{ step.title }}</a>
                        </div>
                      </li>
                    {% endfor %}

                  </ul>
                </li>

                <!-- <li class="closed">
                  <div class="leftNav-item-wrapper">
                    <a href="#">Top Level - Navigation Link 4</a>
                  </div>
                </li> -->

              </ul>
              <!-- /.leftNav.nav -->

            </div>
          </div>

        </div>
        <!-- /#topicLeftNav -->
      </div>
      <!-- /.contentPageLeftNavigation -->

      <div id="main-content" role="main" class="contentPageMainColumn col-sm-8 col-md-6 col-lg-6">
        <a id="main-content-anchor"></a>

        {% if page.title %}
          <h2>{{ page.title }}</h2>
        {% endif %}

        {{ content }}

        <div class="next-prev step">
          {% if page.previous %}
            <a title="{{ page.previous.title | escape }}" class="prev" href="{{ page.previous.url }}">Previous Step</a>
          {% endif %}

          {% if page.previous and page.next %}
            |
          {% endif %}

          {% if page.next %}
            <a title="{{ page.next.title | escape }}" class="next" href="{{ page.next.url }}">Next Step</a>
          {% endif %}
        </div>

      </div>
      <!-- /#main-content -->

      <div id="rightcolumn" role="complementary" class="contentPageRightColumn col-sm-12 col-md-3 col-lg-3">
        {% include sidebar_right.html %}
      </div>
      <!-- /#rightcolumn -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /#topicTemplate -->

  {% include footer.html %}

  {% include scripts.html %}

</body>

</html>
