/**
 * Custom edits to the theme found here: https://github.com/bcgov/Gov-2.0-Bootstrap-Skeleton
 */

// HEADER
#header #logo img {
  @media (max-width: 767px) {
    width: auto;
    height: auto;
  }
}
.navbar-toggle.topic-menu-trigger {
  @media screen and (max-width: 768px) {
    margin-top: 2rem;
  }
}

// SEARCH
#main-search {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
}
.search-trigger {
  margin-top: -5.75rem;
  cursor: pointer;
  height: 30px;
  position: relative;
  right: 6px;
  float: right;
  width: 30px;
  background-image: url('../images/search-ico.png');
  background-position: 98% center;
  background-repeat: no-repeat;
}

// BREADCRUMBS
.breadcrumb>li:last-of-type::after, .breadcrumb>li+li:last-of-type::after {
  content: ' ';
}
ol.breadcrumb {
  bottom: 0.5rem;
  // padding-left: 1.666rem;
}

// BUTTONS
a.btn {
  text-decoration: none;
  border-radius: 4px;
}

// MAIN CONTENT
#main-content {
  @media screen and (max-width: 768px) {
    margin-top: 1rem;
  }
}
.contentPageMainColumn ul>li, // main content
.contentPageRightColumn ul>li { // right sidebar
  padding-left: 15px;
  background: url('../images/bullet.png') no-repeat scroll 0 8px transparent;
  margin-bottom: 3px;
}
#main-content>h1:first-of-type,
#main-content>h2:first-of-type,
#main-content>h3:first-of-type {
  margin-top: 0;
}
.last-edit {
  margin-top: 2rem;
}

// SIDEBAR LOVE
.contentPageLeftNavigation ul.leftNav li a {
  @media (max-width: 767px) {
    padding: 1rem;
  }
}
.contentPageLeftNavigation ul.leftNav li li a {
  @media (max-width: 767px) {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
li.open.current>.leftNav-item-wrapper {
  font-size: 112.5%;
}

// NEXT PREVIOUS "STEP" LINKS
.next-prev.step {
  text-align: right;
}

// CUSTOM "GUIDE" STYLING
.guide.page .leftNav li ul li:before {
  content: '';
}

// EXPERIMENTAL ////////////////////////////////////////////////////////////////

.navigationRibbon .level2Navigation {
  @media screen and (min-width: 768px) {
    max-height: 40px;
    overflow-y: hidden;
  }
}

.contentPageLeftNavigation .leftNav ul li {
  padding-left: 0;
}

// // numbering for the steps sidebar
// .numbered.list-group,
// .leftNav {
// 	counter-reset: my-badass-counter;
// }
// .numbered.list-group h3:before { // This is also on the homepage, used for the "steps"
// 	content: counter(my-badass-counter);
//   counter-increment: my-badass-counter;
//   width: 4.0rem;
//   height: 4rem;
//   padding-top: 0.75rem;
//   font-size: 2rem;
//   font-weight: bold;
//   text-align: center;
//   color: #1a5a96;
//   border: 0.3rem solid #1a5a96;
//   display: inline-block;
//   margin-right: 0.5rem;
// }
// .step.page .leftNav li ul li:before {
//   @media screen and (min-width: 768px) {
//     content: counter(my-badass-counter);
//     counter-increment: my-badass-counter;
//     float: left;
//     padding-right: 0.25rem;
//     position: relative;
//     top: 1px;
//   }
// }
